#SCHEMA=http
FE_REACT_PORT=3000
FE_REACT_HOST=localhost
FE_JS_PORT=3001
FE_JS_HOST=localhost

VITE_BACKEND_BASE_URL=http://localhost:3003

### Backend configuration ###
BACKEND_PORT=3003
BACKEND_HOST=localhost
JWT_SECRET_KEY=<your_secret_key>
JWT_HEADER=Authorization
JWT_TYPE=Bearer

### Transmit configuration ###
VITE_TS_CLIENT_ID=<your_transmit_app_client_id>
TS_CLIENT_SECRET=<your_transmit_app_client_secret>
VITE_TS_BASE_URL=https://api.transmitsecurity.io/cis